/****************************************
	GENERAL
****************************************/
* {
	margin: 0;
}

p {
	font-family: 'Raleway', sans-serif;
	line-height: 1.5;
	padding: 0 10px 20px ;
	margin: 0;
}

li {
	list-style: none;
	display: inline-block;
	text-align: center;
}

h1 {
	font-family: 'Cardo-Regular', sans-serif;
	font-weight: normal;
	margin: 30px 0 0 0;
	font-size: 50px;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	border-bottom: 1px solid black;
	display: inline-block;
	margin: 100px auto;
}

@font-face {
	font-family: 'Cardo-Regular';
	src: url('Cardo-Regular.ttf') format('truetype');
 }

img {
	max-width: 100%;
	height: 200px;
	width: 200px;
}


/****************************************
	HEADER
****************************************/

header ul {
padding: 20px 10px;
margin: 20px 0 0 0;
}

header li {
	padding: 10px 30px;
	font-family: 'Montserrat', sans-serif;
}

header a {
	text-decoration: none;
	color: black;
}

header li a {
text-decoration: none;
color:  #CCCCCC;
}

header li a:hover {
	border-bottom: 1px solid #003366;

}

header {
	
	max-width: 100%;
	text-align: center;
	box-sizing: border-box;
	height: 260px;
	border-bottom: 3px solid #003366;
}


/****************************************
	BODY CONTENT
****************************************/

.primary_content {
	text-align: center;
	background-color:  #CCCCCC;

}

#inventions {
		border-bottom: 1px solid #003366;
}

.primary_content li {
	display: inline-block; 
}

#skills p {
	margin: 20px 0 0 0;
}


/****************************************
	FOOTER
****************************************/

footer {
	background-color: #CCCC99;
	text-align: center;
}

footer li {
	padding-right: 30px;
}

footer img {
	margin: 20px;
	height: 30px;
	width: 30px;
}

footer p {
	color: #999999;
}



/****************************************
	MEDIA QUERIES
****************************************/
@media screen and (min-width:960px){



	/**********
	GENERAL
	**********/
	h1 {
		float: left;
		padding: 0 0 0 50px;
	}

	nav {
		float: right;
	}

	header {
		height: 100px;
		z-index: 1;
		position: fixed;
		width: 100%;
		background-color: white;

	}

	/**********
	BODY CONTENT
	**********/

	#about h2 {
		padding: 10px 0 0 0;
	}

}
