/*********************
NAVIGATION BAR
*********************/
/**
FONTS
**/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900,900i');

.navbar{
  background-color: white;
  border-bottom: none;
  /*there shouldnt be a border bottom it should be fluid*/
}

.nav_items{
  color: #6699FF;
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  font-size:15px;
  text-align: center;
}
ul li a{
  border-bottom:  1px solid transparent;
  transition: 1s;
}
ul li a:hover{
border-bottom:   1px solid #6699FF;
color: #6699FF;
}

#name{
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 20px;
  transition: transform 0.5s;
  color:#6699FF;
}
#name:hover{
transform: translateX(30px);
}

/******
NAVIGATION BAR
*********/

/**********
TOP WRAPPER
**********/
.top_wrapper{
  margin-top: 30px;
}
#name_top{
  margin-top: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 70px;
}
#bio{
  margin-top: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 20px;
  color: #003399;
}
#my_pic{
  margin-top: 30px;
  border: 1px solid #6699FF;
}
/*************
TOP WRAPPER
************/

/******
SKILLS
*****/
.content_wrapper{
  margin-top: 50px;
}
.headings{
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}
.divisor{
  width: 20%;
}
.desc{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.wrap{
  margin-top: 50px;
}
/**********
SKILLS
**********/


/*****************
PROJECTS
*****************/


/*********
FOOTER
************/
.footer{
  margin-top: 50px;
  background-color: #6699FF;
}
#foot_text{
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: #FFFFFF;
}
footer{
  margin-top: 20px;
}
.links{
  text-align: center;
}
.icon_links{
  padding-right: 5%;
}
